.nav{
     display: flex;
    justify-content: space-around;
    align-items: center;
}
.selecttion ul{
    display: flex;
    align-items: center;
    gap: 30px;
    
}
.selecttion ul li{
    list-style: none;
}
 a{
    color: black;
    text-decoration: none;
}
.img{
    height: 60px;
    width: 140px;
    
}
.btn1{
    
    align-items: center;
    gap: 20px;
    

}
 .btn{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
 }
.btn button{
    
    background-color:  #30B868;
    border: none;
    padding: 13px 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    
    
}
.small-test{
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: bisque ;
    height: 35px;
    width: 230px;
    border-radius: 20px;
    text-align: center;
    
}
.small-test img{
    height: 16px;
    width: 16px;
    margin-left: 20px;
}
.text-area{
    margin-top: 20px;
    justify-items: center;
    align-items: center;
    text-align: center;
    background:url(assets/hero-bg.png) ;
    padding: 60px ;
}
.heading{
    font-size: 50px;
}
.back-img{
    height: 1363px;
    width: 2,042px;
}


.bottons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cards{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 10px;
}
.img2{
    background-color: rgb(250, 8, 8);
    height: 60px;
    width: 60px;
    border-radius: 100%;
}
.img2 img{
    justify-items: center;
    align-items: center;
    margin: 15px 15px;
}
.cardsa{
    
    align-items: center;
    justify-items: center;
    margin-top: 90px;
    height: 300px ;
    width: 332px;
}

    

.cardsab{
    height: 300px ;
    width: 300px;
    background-color: #30B868;
    margin-top: 44px;
    text-align: center;
    border-radius: 10px
    
}
.text-area2{
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}
.knowledge{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.tick{
    display: flex;
    align-items: center;
    gap: 10px;
}
.text h4{
    color: #30B868;
}
.text h1{
    font-size: 50px;
}


.credit{
    margin-top: 70px;
    text-align: center;
    justify-items: center;
    background-color: #F7F6F2;
    border-radius: 10px;
   
    
}
.credit-text {
   padding: 50px;

}
.cards2{
    padding: 50px 70px;
}



.footer2{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    padding: 60px 60px;
    align-items: center;
    
    
}
.logo{
    display: flex;
    gap: 10px;
    
}
.logo-text{
    text-align: center;
}
.footer{
    background-color: #001931;
   

}
.logo-text h1{
    color: white;
    font-size: 20px

;
}
.img3{
    width: 300px;
    height: 60px;
}
